.background {
    background-color:rgba(93, 93, 93, 0.255);
    text-align: center;
    border-bottom: 1px solid gold;
}
hr {
    border: 2px solid rgb(81.2, 54.1, 1.6);
}
h3 {
    color: rgb(81.2, 54.1, 1.6);
}
h4 {
    font-style: italic;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
p {
    text-align: center;
}
body {
    width: 50%;
 /*    margin-right: 25%;
    margin-left: 25%; */
    margin: auto;
}